* {
    box-sizing: border-box;
}

.btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 20px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
}

.btn:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.popup-wrapper {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup {
    font-family: arial;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 10% auto;
    background-color: white;
}

.popup a {
    color: white;
    background-color: #f44336;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    padding: 6px 12px;
}

.popup-closed {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

